{{ form_start(form) }}
{{ form_errors(form) }}
<section class="container d-flex flex-column w-25  mx-auto my-auto">
    {{ form_row(form.name, {'attr' : {'class' : 'form-control'}, 'label' : 'Catégorie :' }) }}
<button type="submit" class="btn btn-outline-primary mt-3"> Soumettre</button>
</section>
{{ form_end(form) }}