{% extends 'base.html.twig' %}

{% block title %}Modifier une category{% endblock %}

{% block body %}
    <h1 class="text-center fw-bolder">Modifier un article</h1>
    {% include "category/_form.html.twig" %}
{% endblock %}