{% extends 'base.html.twig' %}

{% block title %}Liste catégorie{% endblock %}

{% block body %}

	<h1 class="text-center fw-bolder">Liste des categories</h1>

	<div class="row mt-5 d-flex align-items-center justify-content-center">
		{% for category in categories %}
			<div class="card border-secondary col-3 me-2 mb-3 p-0" style="max-width: 20rem;">
				<div class="card-header">{{ category.name }}</div>
				<div class="card-body">
					<p class="card-text">{{ category.slug }}</p>
					<a href="{{ path('category_show', {slug: category.slug}) }}" class="btn btn-secondary text-center">Voir catégorie</a>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
