{% extends 'base.html.twig' %}

{% block title %}Création d'une catégorie{% endblock %}

{% block body%}
    <h1 class="text-center fw-bolder">Création d'une catégorie</h1>
    {#?Formulaire#}
    {{ include('category/_form.html.twig') }}


{%endblock%}