{% extends 'base.html.twig' %}

{% block title %} Categorie {%endblock%}

{% block body %}
    <H1 class="text-center fw-bolder">Consulter la Catégorie</H1>
    <section class="container d-flex mx-auto">
        <div class="card border-secondary col-3  mb-3 p-0 mx-auto" style="max-width: 20rem;">
                <div class="card-header">{{ categorie.name }}</div>
                    <div class="card-body">
                        <p class=" card-text">{{categorie.slug}}</p>
                       <a href="{{ path('category_edit', {slug: categorie.slug}) }}" class="btn btn-outline-warning">Modifier</a>
                        <a href="{{ path('category_delete',{slug: categorie.slug}) }}" class="btn btn-outline-danger">Supprimer</a>
                    </div>
                </div>
        </div>
    </section>
{%endblock%}