{% extends 'base.html.twig' %}

{#? Block Title #}
{% block title %}
    A propos
{% endblock %}

{#? Block Body #}
{% block body %}
    <h1 class="text-center fw-bolder">A propos</h1>
{% endblock %}
