.card-header{
background: linear-gradient(#b1e0f5, #18a7ef);
}
.card-header:hover{
    background: linear-gradient(#f1e4e3b9, #ef1f18);
}
.pcategory{
    color: #23a347;
    font-size : 20px;
}
.contentbox{
    height: 250px;
}
