{% extends 'base.html.twig' %}

{% block title %}Modifier un article{% endblock %}

{% block body %}
    <h1 class="text-center fw-bolder">Modifier un article</h1>
    {% include "blog/_form.html.twig" %}
{% endblock %}