{% extends 'base.html.twig' %}

{% block title %}Création d'un article{% endblock %}

{% block body%}
    <h1 class="text-center fw-bolder">Création d'un article</h1>
    {#?Formulaire#}
    {{ include('blog/_form.html.twig') }}


{%endblock%}