{% extends 'base.html.twig' %}

{% block title %}Modifier un tag{% endblock %}

{% block body %}
    <h1 class="text-center fw-bolder">Modifier un tag</h1>
    {% include "tag/_form.html.twig" %}
{% endblock %}