{% extends 'base.html.twig' %}

{% block title %} Tag {%endblock%}

{% block body %}
    <H1 class="text-center fw-bolder">Consulter le tag</H1>
    <section class="container d-flex mx-auto">
        <div class="card border-secondary col-3  mb-3 p-0 mx-auto" style="max-width: 20rem;">
                <div class="card-header">{{ tag.name }}</div>
                    <div class="card-body">
                        {# <p class=" card-text">{{tag.id}}</p> #}
                        <a href="{{ path('tag_edit', {id: tag.id}) }}" class="btn btn-outline-warning">Modifier</a>
                        <a href="{{ path('tag_delete',{id: tag.id}) }}" class="btn btn-outline-danger">Supprimer</a>
                    </div>
                </div>
        </div>
    </section>
{%endblock%}